/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
}

/* MAIN CONTAINER */
.container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

/* HEADER */
.header{
    width: 100%;
    background-color: #000;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.emails, .socials{
    display: flex;
    flex-direction: row;
}
.emails a, .socials a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.emails a{
    padding-right: 1.5rem;
}
.socials a{
    padding-left: 1.5rem;
}
.emails a i{
    padding-right: 0.7rem;
}

/* IMAGES SLIDER CONTAINER */
.images-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.images{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;

    -moz-user-select: none;    /* TO DISABLE IMAGE SELECT */
    -webkit-user-select: none;
    user-select: none;

    -webkit-overflow-scrolling: touch;    /* Enable Safari touch scrolling physics */
}
.image-container{
    position: relative;
    min-width: 100vw;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    overflow: hidden;
}
.images-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
.images-slider-footer{
    position: relative;
    top: -95px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.images-slider-footer .links{
    min-height: 95px;
    max-height: 95px;
    min-width: 600px;
    width: 40vw;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
.images-slider-footer .links > *{
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 1rem 1.3rem;
}
.images-slider-footer .number{
    border: 1.5px solid rgb(226, 115, 25);
    background-color: rgb(226, 115, 25);
}
.images-slider-footer .quote{
    border: 1.5px solid white;
    margin-left: 1rem;
}
.images-slider-footer .number:hover{
    border: 1.5px solid rgb(255, 255, 255);
    background-color: rgba(226, 115, 25, 0);
}
.images-slider-footer .quote:hover{
    color: rgb(226, 115, 25);
    background-color: white;
}

@keyframes buttonHoverAnimation{
    0%{
        top: 0;
    }
    100%{
        top: -8px;
    }
}
@keyframes buttonHoverAnimationEnd{
    0%{
        top: -8px;
    }
    100%{
        top: 0;
    }
}
.images-slider-footer .number:hover, .images-slider-footer .quote:hover{
    animation-name: buttonHoverAnimation;
}
.images-slider-footer .number, .images-slider-footer .quote{
    position: relative;
    animation-name: buttonHoverAnimationEnd;
    animation-duration: .25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: all .25s ease;
}

.slider-buttons{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* USE .zoom-animation CLASS FOR SLOW IMAGE ZOOM IN ANIMATION */
@keyframes slowZoom{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.15);
    }
}

.zoom-animation{
    animation-name: slowZoom;
    animation-duration: 10s;
}